<!DOCTYPE html>
<html>

<head>
  <title>Favicon</title>
  <link rel="icon" type="image/jpg" href="../assets/icon.jpg">
</head>

<body>
  <p>This is a <b>bold</b> text</p>
  <p>This is a <i>italic</i> text</p>
  <p>This is an <u>underlined</u> text</p>
  <p>This is a <del>deleted</del> text</p>
  <p>This is a <mark>marked</mark> text</p>
  <p>This is a <strong>strong</strong> text</p>
  <p>
    <span>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia, harum eos. Fuga obcaecati voluptatibus
      accusamus
      adipisci doloribus perspiciatis reiciendis maiores labore dignissimos omnis cum iste soluta tenetur iure, impedit
      vitae.
    </span>
  </p>


  <div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium quod minima fugit, sunt esse
      perferendis at
      quidem sint magnam natus odit cupiditate dolorem cum laborum nobis, placeat similique velit earum!
    </p>
  </div>
  <br>
  <h3>items</h3>
  <ul>
    <li>tea</li>
    <li>eggs</li>
    <li>bread</li>
    <li>coffee</li>
    <ul>
      <li>white</li>
      <li>black</li>
    </ul>
  </ul>
  <h3>my to do list</h3>
  <ol>
    <li>wake up</li>
    <li>pray</li>
    <li>take breakfast</li>
    <li>brush my teeth</li>
  </ol>
  <dl>
    <dt>Dragon</dt>
    <dd>
      A dragon is a magical legendary creature that appears in the folklore of multiple cultures worldwide.
    </dd>
    <dt>Unicorn</dt>
    <dd>
      A mythical creature resembling a horse, with a single horn in the center of its forehead: often symbolic of
      chastity or purity.
    </dd>
  </dl>

  <h3>my wake up schedule</h3>
  <table>
    <thead>
      <tr>
        <th>Sun</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thur</th>
        <th>Fri</th>
        <th>Sat</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>8:00am</td>
        <td>5:30am</td>
        <td>5:30am</td>
        <td>5:30am</td>
        <td>5:30am</td>
        <td>5:30am</td>
        <td>7:30am</td>
      </tr>
    </tbody>
  </table>
</body>

</html>